<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bookbransaction.mapper.CouponMapper">
  <resultMap id="BaseResultMap" type="com.example.bookbransaction.entity.Coupon">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="value" jdbcType="DOUBLE" property="value" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="min_value" jdbcType="DOUBLE" property="minValue" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="closing_time" jdbcType="TIMESTAMP" property="closingTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from coupon
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.bookbransaction.entity.Coupon">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into coupon (id, type, status, 
      value, message, min_value, 
      create_time, closing_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{value,jdbcType=DOUBLE}, #{message,jdbcType=VARCHAR}, #{minValue,jdbcType=DOUBLE}, 
      #{createTime,jdbcType=TIMESTAMP}, #{closingTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.bookbransaction.entity.Coupon">
    update coupon
    set type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      value = #{value,jdbcType=DOUBLE},
      message = #{message,jdbcType=VARCHAR},
      min_value = #{minValue,jdbcType=DOUBLE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      closing_time = #{closingTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, type, status, value, message, min_value, create_time, closing_time, update_time
    from coupon
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, type, status, value, message, min_value, create_time, closing_time, update_time
    from coupon
  </select>
</mapper>