<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bookbransaction.mapper.LocationMapper">
  <resultMap id="BaseResultMap" type="com.example.bookbransaction.entity.Location">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="simplified" jdbcType="VARCHAR" property="simplified" />
    <result column="spelling" jdbcType="VARCHAR" property="spelling" />
    <result column="english_simplified" jdbcType="VARCHAR" property="englishSimplified" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from location
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.bookbransaction.entity.Location">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into location (simplified, spelling, english_simplified
      )
    values (#{simplified,jdbcType=VARCHAR}, #{spelling,jdbcType=VARCHAR}, #{englishSimplified,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.bookbransaction.entity.Location">
    update location
    set simplified = #{simplified,jdbcType=VARCHAR},
      spelling = #{spelling,jdbcType=VARCHAR},
      english_simplified = #{englishSimplified,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, simplified, spelling, english_simplified
    from location
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, simplified, spelling, english_simplified
    from location
  </select>
</mapper>