<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bookbransaction.mapper.TransactionDetailsMapper">
  <resultMap id="BaseResultMap" type="com.example.bookbransaction.entity.TransactionDetails">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="value" jdbcType="DOUBLE" property="value" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from transaction_details
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.bookbransaction.entity.TransactionDetails">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into transaction_details (id, type, order_id, 
      value, create_time)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, 
      #{value,jdbcType=DOUBLE}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.bookbransaction.entity.TransactionDetails">
    update transaction_details
    set type = #{type,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      value = #{value,jdbcType=DOUBLE},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, type, order_id, value, create_time
    from transaction_details
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, type, order_id, value, create_time
    from transaction_details
  </select>
</mapper>