<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bookbransaction.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.bookbransaction.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="pass_ward" jdbcType="VARCHAR" property="passWard" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="SMALLINT" property="sex" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="phone" jdbcType="INTEGER" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.bookbransaction.entity.User">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user (user_name, pass_ward, name, 
      sex, id_number, phone, 
      email, status, type, 
      create_time, last_login_time, update_time
      )
    values (#{userName,jdbcType=VARCHAR}, #{passWard,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{sex,jdbcType=SMALLINT}, #{idNumber,jdbcType=VARCHAR}, #{phone,jdbcType=INTEGER}, 
      #{email,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, #{type,jdbcType=SMALLINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastLoginTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.bookbransaction.entity.User">
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
      pass_ward = #{passWard,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=SMALLINT},
      id_number = #{idNumber,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      type = #{type,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_name, pass_ward, name, sex, id_number, phone, email, status, type, 
    create_time, last_login_time, update_time
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_name, pass_ward, name, sex, id_number, phone, email, status, type, 
    create_time, last_login_time, update_time
    from user
  </select>
</mapper>